/*body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
*/
a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.content {
  height: 70vh; }

.footer {
  padding: 3rem 0;
  background: #000000;
  color: #777; }
  .footer .footer-site-logo {
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 30px;
    display: block; }
  .footer h3 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px; }
  .footer .links li {
    margin-bottom: 10px; }
    .footer .links li a {
      color: #999; }
      .footer .links li a:hover {
        color: #fff; }
  .footer .link-menu li {
    display: inline-block; }
    .footer .link-menu li a {
      color: #fff;
      display: inline-block;
      padding: 10px; }
  .footer .link-menu.nav-left li:first-child a {
    padding-left: 0; }
  .footer .link-menu.nav-right li:last-child a {
    padding-left: 0; }
  .footer .social li {
    display: inline-block; }
    .footer .social li a {
      display: inline-block;
      padding: 10px;
      color: #ccc; }
    .footer .social li:last-child a {
      padding-right: 0; }
  .footer .line {
    border-top: 1px solid rgba(255, 255, 255, 0.2); }
  #top-row {
    justify-content: space-between;
  }
